oclaunch.byte
# Atdgen
settings_j.ml*
settings_t.ml*
settings_v.ml*
tmp_biniou_b.ml*
tmp_biniou_t.ml*
tmp_biniou_v.ml*
# Oasis
_build
_tags
*.native
*.byte
*.docdir
setup.data
setup.log
setup.exe
# # pkg.sh
dist
# Misc
.paths
.project
*.vim
.settings/
